id		ICON		"sensitive.ico"


1	VERSIONINFO
FILEVERSION		0,9,3,0
PRODUCTVERSION	0,9,3,0

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE	"CompanyName", ""
			VALUE	"FileDescription", "Sensitive UI"
			VALUE	"FileVersion", "0.9.3.0"
			VALUE	"InternalName", "Sensitive"
			VALUE	"LegalCopyright", "Massimo Gengarelli"
			VALUE	"OriginalFilename", "Sensitive.exe"
			VALUE	"ProductName", "Sensitive UI"
			VALUE	"ProductVersion", "0.9.3.0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE	"Translation", 0x809, 1252
	END
END


