IDI_ICON1 ICON DISCARDABLE "inversitive.ico"


1	VERSIONINFO
FILEVERSION		1,0,0,0
PRODUCTVERSION	1,0,0,0

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE	"CompanyName", ""
			VALUE	"FileDescription", "Inversitive"
			VALUE	"FileVersion", "1.0.0.0"
			VALUE	"InternalName", "Inversitive"
			VALUE	"LegalCopyright", "Massimo Gengarelli"
			VALUE	"OriginalFilename", "Inversitive.exe"
			VALUE	"ProductName", "Inversitive"
			VALUE	"ProductVersion", "1.0.0.0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE	"Translation", 0x809, 1252
	END
END


